tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.DS_Store
._*
Thumbs.db
desktop.ini
*.sw[a-p]
*.un~
Session.vim
.luarc.json
.luarc.jsonc
spell/*.spl
spell/*.sug
__pycache__/
*.pyc
.venv/
venv/
lua/plugins/local.lua
